.App {
  margin-top: 20px;
}

.App .heading {
  color: #3bd0c6;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  font-size: 42px;
}

.App .link {
  display: block;
  text-align: center;
  color: #ef7b6c;
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
}
