.dictionary {
  font-family: "Urbanist", sans-serif;
}

.dictionary .search-text {
  width: 40%;
  padding: 20px auto;
  border-radius: 10px;
  border-color: #3bd0c6;
  border-style: solid;
  border-width: thin;
}

.dictionary .search-button {
  background-color: #3bd0c6;
  border-radius: 10px;
  border-color: #3bd0c6;
  border-style: solid;
  margin: 10px;
  font-weight: bold;
}

.dictionary .search-button:hover {
  background-color: #eaf7f6;
  border-radius: 10px;
  border-color: #3bd0c6;
  cursor: pointer;
  border-style: solid;
  margin: 10px;
  font-weight: bold;
  transition: all 150ms ease-in-out;
}

.dictionary form {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

h2 {
  color: #6930c3;
  font-weight: 900;
  font-size: 48px;
}
